* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.6rem;
}

li,
button,
label,
input,
p {
    font-size: 2rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h4,
h5 {
    font-size: 2.8rem;
}

/* Nav section  */

.main-head {
    background-color: #131c27;
    color: white;
    position:sticky;
    top: 0px;
    z-index: 3;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    min-height: 10vh;
    padding: 2rem;
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;

}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#logo {
    flex: 2 1 40rem;
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
}

/* hero section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("dubai.jpg");
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h3 {
    padding: 5rem;
}

.book {
    padding: 1.5rem 6rem;
    background-color: #4c6e97;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
    border-radius: 3rem;
}
button:hover {
    background: #193454;
    font-size: 2.6rem;
}

/* FIRST SECTION */
#locations {
    min-height: 100vh;

    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("newyork.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#locations-head{
    width: 90%;
    margin: auto;

   
}
#locations-head h2{
    padding: 1rem 0rem;
    text-decoration: underline;
    text-decoration-thickness:0.5rem;
}
#locations-head h3{
    padding: 4rem 0rem;
    background: linear-gradient(#131c27, #663b34);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}.cloud{
    position: absolute;
    top: 0%;
    right: 0%;
    pointer-events: none;
    
}
.moving-cloud-1{
animation: cloudAnimation 3s infinite alternate ease-in-out;

}
.moving-cloud-2{
    top: 20%;
    z-index: -1;
    opacity: 0.5;
    animation: cloudAnimation 3.2s infinite alternate ease-in-out;

}
@keyframes cloudAnimation {
    from{
transform: translate(10%,-10%);
    }
    to{
transform: translate(0%, 0%);
    }
}


/* CARDS SECTIONS */
.benefits-head{
    background: #343c44;
    padding: 3rem;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.benefits-head h3{
    padding: 1rem;
}
.card img{
    max-width: 15%;
    margin: 2rem;

}
.card{
   
    flex: 1 1 25rem;
    min-height: 40vh;
    margin:2rem 5rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0,0.1),0px 20px 20px rgba(0, 0, 0,0.1);
    text-align: center;
    border-radius: 3rem;
    
}
.cards{
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 70vh;
    align-items: center;
    flex-wrap: wrap;

}
.card-icon{
background: #27394e;
border-top-left-radius: 3rem;
border-top-right-radius: 3rem;
}
.card h4,.card p {
    padding: 1rem;
}
/* CONTACT SECTION */
#contact{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("rock.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items:center;
}
.form-wrapper{
    background: rgba(19,28,39,0.9);
    width: 60%;
    color: white;
    border-radius: 20px;    
}
.form-head{
    padding: 4rem;
    text-align: center;

}
.name-form,
.email-form{
padding: 3rem;
text-align: center;
}
.form-wrapper label{
    margin: 0rem 3rem;
}
 .submit{
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
    background: #3e6290;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    color: white;
}
.form-wrapper input{
    padding: 1rem 3rem;
}
 /* FOOTER */
 footer{
    color: white;
    background: rgb(19, 28, 39,1);
 }
 .footer-wrapper{
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
 }
 footer ul{
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
 }
footer h5{
    flex: 1 1 40rem;
}


/* MEDIA QUERRY */
@media screen and (max-width: 932px) {
    html {
        font-size: 45%;
    }

    nav {
        text-align: center;
    }

    #logo {
        padding: 2rem;

    }
    .cloud{
        height: 40rem;
        pointer-events: none;

    }
    .moving-cloud-1{
     z-index: -1;
    }
    .moving-cloud-2{
    z-index: -2;
    }
    #locations-head h3{
        background: rgba(19,28,39,0.9);
        -webkit-text-fill-color: white;
    }
    .form-wrapper{
        width: 100%;
    }
    footer{
        text-align: center;
        
    }
    footer h5{
        padding-bottom: 3rem;
    }
}